<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>sonatype-stage</id>
      <repositories>
        <repository>
          <id>sonatype-staging-repo</id>
          <name>Sonatype staging repo</name>
          <url>https://oss.sonatype.org/content/repositories/staging</url>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>mirror-apache-to-gpuwa</id>
      <repositories>
        <repository>
          <id>apache.snapshots</id>
          <name>sw-spark-maven</name>
          <url>https://gpuwa.nvidia.com/artifactory/sw-spark-maven</url>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>gpuwa</id>
      <properties>
        <altDeploymentRepository>spark.sw.nvidia.com::default::https://gpuwa.nvidia.com/artifactory/sw-spark-maven-local</altDeploymentRepository>
      </properties>
    </profile>
  </profiles>
</settings>
